.App {
  margin: 50px;
  display: flex;
}

.list {
  width: 33%;
  padding: 10px;
}

.left {
  float: left;
  width: 100%;
}

.center {
  display: inline-block;
  width: 100%;
}

.right {
  float: right;
  width: 100%;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #007bff;
  padding: 7px;
}

.container {
  display: flex
}

.arrow {
  height: 20px;
}

.search {
  margin: 50px;
}

.indent {
  text-indent: 50px;
}